# =========================
# Node & Frontend (Vite)
# =========================
node_modules/
dist/
dist-ssr/
*.local

# =========================
# Python & Backend (FastAPI)
# =========================
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/
env/

# =========================
# ML Pipeline & Jupyter
# =========================
.ipynb_checkpoints/
ml_pipeline/data/*
!backend/model_artifacts/final_fruit_model.h5
!backend/model_artifacts/class_names.json
backend/model_artifacts/*.onnx
backend/model_artifacts/*.pt

# =========================
# OS & Environment Variables
# =========================
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
